{% extends 'base.html' %}

{% block title %} Home · InfluX {% endblock title %}

{% block content %}
<h2 class="mt-3">Welcome <small class="text-muted">@{{ username }}</small></h2>
<hr>
<!-- Active Campaigns -->
<div class="container mt-4">
    <h4 class="mb-3">Active Campaigns</h4>
    {% if campaigns %}
    <table class="table align-middle">
        <thead class="bg-light">
            <tr class="text-center">
                <th>ID</th>
                <th>Campaign Title</th>
                <th>Category</th>
                <th>Status</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for campaign in campaigns %}
            <tr class="text-center">
                <td>{{loop.index}}</td>
                <td>{{campaign.title.title()}}</td>
                <td>{{campaign.category}}</td>
                <td>
                    <span class="badge bg-success d-inline">Active</span>
                </td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#viewModal{{ campaign.campaign_id }}">
                        View
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

<!-- Sent Requests -->
<div class="container mt-5">
    <h4 class="mb-3">Sent Requests</h4>
    {% if responses %}
    {% for item in responses %}
    <div class="card my-1">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div class="row w-100 mx-4">
                <div class="col-sm d-flex align-items-center">Campaign :  {{item.campaign.title.title()}}</div>
                <div class="col-sm d-flex align-items-center">Category :  {{item.campaign.category}}</div>
                <div class="col-sm d-flex align-items-center">Influencer: @<b>{{item.influencer}}</b></div>
                <div class="col-sm-2 d-flex align-items-center">
                    {% if item.request.status == 'pending' %}
                    <span class="badge bg-warning">Pending</span>
                    {% elif item.request.status == 'accepted' %}
                    <span class="badge bg-success">Accepted</span>
                    {% elif item.request.status == 'rejected' %}
                    <span class="badge bg-danger">Rejected</span>
                    {% endif %}
                </div>
                <div class="col-sm-1 d-flex align-items-center">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#viewModal{{ item.campaign.campaign_id }}">
                        View
                    </button>
                </div>
            </div>
        </div>
    </div>    
    {% endfor %}
    {% else %}
        <h5 class="mt-5 text-center">No new requests at the moment</h5>
    {% endif %}
</div>

<!-- View Modal -->
{% for campaign in campaigns %}
<div class="modal fade" id="viewModal{{ campaign.campaign_id }}" tabindex="-1" aria-labelledby="viewModalLabel{{ campaign.campaign_id }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="viewModalLabel{{ campaign.campaign_id }}">Campaign :  {{ campaign.title.title() }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <p class="fw-semibold">Description :  {{ campaign.description }}</p>
                    <p>Goals :  {{ campaign.goals }}</p>
                    <p class="text-warning fw-semibold">{{ campaign.visibility.title() }} Campaign</p>
                    <div class="col-md-6">
                        <p>Category :  {{ campaign.category }}</p>
                    </div>
                    <div class="col-md-6">
                        <p>Budget :  ₹{{ campaign.budget.quantize(1) }}</p>
                    </div>  
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p>Start Date :  {{ campaign.start_date.strftime("%d/%m/%Y") }}</p>
                    </div>
                    <div class="col-md-6">
                        <p>End Date :  {{ campaign.end_date.strftime("%d/%m/%Y") }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock content %}