<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand ms-2" href="{{ url_for('index') }}" style="display: flex; align-items: center;">
        <img src="/static/logo.svg" alt="Logo" style="height: 40px; width: auto;" class="d-inline-block">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <span>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if session['user'] %}
            {% if session['usertype']== 'admin' %}
            <li class="nav-item">
              <a class="nav-link" href={{url_for('info')}}>
              <button type="button" class="btn btn-outline-light text-dark">Info</button>
              </a>
            </li>
            {% endif %}
            {% if session['usertype']== 'sponsor'%}
            <li class="nav-item">
              <a class="nav-link" href={{url_for('home')}}>
                <button type="button" class="btn btn-outline-light text-dark">Home</button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href={{url_for('campaigns')}}>
                <button type="button" class="btn btn-outline-light text-dark">Campaigns</button>
              </a>
            </li>
            {% endif %}
            {% if session['usertype']== 'influencer' %}
            <li class="nav-item">
              <a class="nav-link" href={{url_for('profile')}}>
                <button type="button" class="btn btn-outline-light text-dark">Profile</button>
              </a>
            </li>
            {% endif %}
            {% if session['usertype'] %}
            <li class="nav-item">
              <a class="nav-link" href={{url_for('explore')}}>
              <button type="button" class="btn btn-outline-light text-dark">Explore</button>
              </a>
            </li>
              {% if session['usertype']== 'admin' %}
            <li class="nav-item">
              <a class="nav-link" href={{url_for('stats')}}>
              <button type="button" class="btn btn-outline-light text-dark">Statistics</button>
              </a>
            </li> 
              {% endif %}
              {% if session['usertype']== 'influencer'%}
            <li class="nav-item">
              <a class="nav-link" href={{url_for('notifications')}}>
              <button type="button" class="btn btn-outline-light position-relative text-dark">Notifications</button>
              </a>
            </li>
              {% endif %}
            <li class="nav-item">
              <a class="nav-link" href={{url_for('logout')}}>
              <button type="button" class="btn btn-outline-light text-dark">Logout</button>
              </a>
            </li>
            {% endif %}
          {% else %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href={{url_for('login')}}>
              <button type="button" class="btn btn-outline-light text-dark">Login</button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href={{url_for('register')}}>
              <button type="button" class="btn btn-outline-success">Sign up</button>
              </a>
            </li>
          {% endif %}
        </ul>
      </span>
    </div>
  </nav>