{% extends 'base.html' %}

{% block title %} For Sponsors · InfluX {% endblock title %}

{% block style %}
{% endblock style %}

{% block body %}

{% block navbar %}{% endblock navbar %}
<!-- Topbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" href="{{ url_for('index') }}" style="display: flex; align-items: center;">
      <img src="/static/logo.svg" alt="Logo" style="height: 40px; width: auto;" class="d-inline-block">
    </a>
  </div>
</nav>

{% block content %}
<div class="container-fluid col-8 align-center">
  <h1 class="text-center m-3">Register as Sponsor</h1>
  <form method="POST" action="{{url_for('registration.register_sponsor')}}">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3 col-6">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
    </div>
    <div class="mb-3">
      <label for="brand_name" class="form-label">Brand Name</label>
      <input type="text" class="form-control" id="brand_name" name="brand_name" required>
    </div>
    <div class="mb-3">
      <label for="industry" class="form-label">Industry</label>
      <input type="text" class="form-control" id="industry" name="industry" required>
    </div>
    <div class="mb-3">
      <label for="budget" class="form-label">Budget</label>
      <input type="number" class="form-control" id="budget" name="budget" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>  
{% endblock content %}

{% endblock body %}