{% extends 'base.html' %}

{% block title %} For Sponsors · InfluX {% endblock title %}

{% block style %}
{% endblock style %}

{% block body %}

{% block navbar %}{% endblock navbar %}
<!-- Topbar -->
<nav class="navbar bg-body-tertiary py-3">
<div class="container-fluid">
  <a class="navbar-brand ms-2" href={{ url_for('index') }}>
    <img src="/static/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block mb-2">
    <text class="fw-semibold">InfluX</text>
  </a>
</div>
</nav>

{% block content %}
<div class="container-fluid col-8 align-center">
  <h1 class="text-center m-3">Register as Sponsor</h1>
  <form method="POST" action="{{url_for('registration.register_sponsor')}}">
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="row">
        <div class="mb-3 col-6">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="mb-3 col-6">
            <label for="password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="comfirm_password" name="confirm_password" required>
        </div>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Brand Name</label>
      <input type="text" class="form-control" id="brand_name" name="brand_name" required>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Industry</label>
      <input type="text" class="form-control" id="industry" name="industry" required>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Budget</label>
      <input type="text" class="form-control" id="budget" name="budget" required>
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>  
{% endblock content %}

{% endblock body %}